.App {
  text-align: center;
}

/* div for overall page, holding the images/text */
.App-body {
  background-image: url("./pixel-components/front-page.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  image-rendering: pixelated;
  background-size: 40%;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.About-body{
  background-image: url("./pixel-components/book-page.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  image-rendering: pixelated;
  background-size:80%;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

/* the main image on the home page */
/* .home{
  width: 40%;
  height: 40%;
  display: block;
  image-rendering: pixelated;
} */

.about{
  width: 80%;
  height: 80%;
  display: block;
  image-rendering: pixelated;
}

